.skills {
  position: relative;

  &__body {
    position: relative;
    margin-bottom: 60px;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-item {
      position: relative;
      width: 100%;
      height: 380px;

      &-text {
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        text-align: center;
      }

      &-class {
        font-family: $greta-display;
        font-weight: normal;
        font-size: 28px;
        color: $white;
        letter-spacing: .02em;
        line-height: 1;
        margin-bottom: 15px;

      }
      &-name {
        font-family: $bebas-neue-book;
        font-size: 12px;
        font-weight: normal;
        color: $white;
        text-transform: uppercase;
        letter-spacing: .26em;
        line-height: 1;
        opacity: .75;
      }
    }
  }
}