.top {
  padding-top: 60px;

  &__items {
    margin-bottom: 60px;

    &-item {
      width: 100%;
      height: 100%;

      &-image {
        position: relative;
        overflow: hidden;

        &:hover {
          .top__items-item-image-bg {
            transform: scale(1.03);
          }
        }

        &-bg {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform .5s linear;
        }

        &-person {
          position: absolute;
          bottom: 20px;
          left: 0;
          right: 0;
          display: flex;
          flex-direction: column;
          align-items: center;

          &-name {
            font-family: $greta-display;
            color: $white;
            font-weight: normal;
            font-size: 26px;
            letter-spacing: .02em;
          }

          &-photo {
            display: block;
            height: 70px;
            width: 70px;
            margin-bottom: 20px;
          }
        }
      }

      &-desc {
        &-tag {
          text-decoration: none;
          font-family: $open-sans;
          font-weight: 300;
          font-size: 12px;
          color: #8c8c8c;
          border: 1px solid #8c8c8c;
          padding: 10px 15px;
          display: inline-block;
          border-radius: 25px;
          line-height: 10px;
          margin: 10px 5px 0;
          transition: all .1s linear;

          &:hover {
            color: $orange;
          }
        }

        &-info {
          font-family: $open-sans;
          font-weight: 300;
          font-size: 12px;
          color: #8c8c8c;
          text-align: center;
          margin-top: 20px;
        }
      }
    }
  }
}
