<footer class="footer">
    <div class="container">
        <div class="divider"></div>
        <div class="footer__nav">
            <a href="#" class="footer__nav-link link">Photographers</a>
            <a href="#" class="footer__nav-link link">Classes</a>
            <a href="#" class="footer__nav-link link">Workshops</a>
            <a href="#" class="footer__nav-link link">Become a Contributor</a>
            <a href="#" class="footer__nav-link link">Contact Us</a>
        </div>
        <div class="divider"></div>
        <div class="footer__social">
            <div class="footer__social-logo">
                <a href="/">
                    <img src="../assets/img/logo.png" alt="">
                </a>
            </div>
            <div class="footer__social-icons">
                <a href="#">
                    <svg>
                        <use xlink:href="#facebook"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg>
                        <use xlink:href="#twitter"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg>
                        <use xlink:href="#instagram"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg>
                        <use xlink:href="#youtube"></use>
                    </svg>
                </a>
            </div>
        </div>
        <p class="footer-copyright">© All rights reserved</p>
    </div>
</footer>