<section class="hero">
    <div class="hero__slider">
        <div class="hero__slider-item">
            <div class="hero__slider-item-promo">
                <img class="hero__slider-item-promo-bg" src="../assets/img/slider-1.png" alt="">
                <div class="container text-center">
                    <span class="hero__slider-item-promo-sup">- lawrson pinson -</span>
                    <h1 class="hero__slider-item-promo-heading">Landscape Photography1</h1>
                </div>
            </div>
        </div>
        <div class="hero__slider-item">
            <div class="hero__slider-item-promo">
                <img class="hero__slider-item-promo-bg" src="../assets/img/slider-1.png" alt="">
                <div class="container text-center">
                    <span class="hero__slider-item-promo-sup">- lawrson pinson -</span>
                    <h1 class="hero__slider-item-promo-heading">Landscape Photography2</h1>
                </div>
            </div>
        </div>
        <div class="hero__slider-item">
            <div class="hero__slider-item-promo">
                <img class="hero__slider-item-promo-bg" src="../assets/img/slider-1.png" alt="">
                <div class="container text-center">
                    <span class="hero__slider-item-promo-sup">- lawrson pinson -</span>
                    <h1 class="hero__slider-item-promo-heading">Landscape Photography3</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="hero__slider-nav">
        <div class="container">
            <div class="hero__slider-nav-body">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="hero__slider-nav-block">
                            <span class="hero__slider-nav-mark">01</span>
                            <a class="hero__slider-nav-link" href="#" data-index="0">Be a professional<br> landscape
                                photography</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="hero__slider-nav-block">
                            <span class="hero__slider-nav-mark">02</span>
                            <a class="hero__slider-nav-link" href="#" data-index="1">Explore top secrets of<br>
                                Astro Photography</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="hero__slider-nav-block">
                            <span class="hero__slider-nav-mark" data-index="2">03</span>
                            <a class="hero__slider-nav-link" href="#">Improve your composition<br> as
                                professional</a>
                        </div>
                    </div>
                </div>
                <div class="hero__slider-nav-dots"></div>
            </div>
        </div>
    </div>
</section>