<section class="hero">
    <div class="hero__slider">
        <div class="hero__slider-item">
            <div class="hero__slider-item-promo">
                <img class="hero__slider-item-promo-bg" src="../assets/img/slider-1.png" alt="">
                <div class="container text-center">
                    <sup class="hero__slider-item-promo-sup">- lawrson pinson -</sup>
                    <h1 class="hero__slider-item-promo-heading">Landscape Photography</h1>
                </div>
            </div>
        </div>

        <div class="hero__slider-item">
            <div class="hero__slider-item-promo">
                <img class="hero__slider-item-promo-bg" src="../assets/img/slider-1.png" alt="">
                <div class="container text-center">
                    <sup class="hero__slider-item-promo-sup">- lawrson pinson -</sup>
                    <h1 class="hero__slider-item-promo-heading">Landscape Photography</h1>
                </div>
            </div>
        </div>

        <div class="hero__slider-item">
            <div class="hero__slider-item-promo">
                <img class="hero__slider-item-promo-bg" src="../assets/img/slider-1.png" alt="">
                <div class="container text-center">
                    <sup class="hero__slider-item-promo-sup">- lawrson pinson -</sup>
                    <h1 class="hero__slider-item-promo-heading">Landscape Photography</h1>
                </div>
            </div>
        </div>
  </div>
    <div class="hero__slider-nav">
        <a style="color: black;">Be a professional landscape photography</a>
    </div>
</section>