<section class="learn">
    <div class="container-fluid g-0">
        <div class="learn__content">
            <img src="../assets/img/learn.png" alt="" class="learn-bg">
            <span class="learn__content-sup">learn from the best</span>
            <h1 class="learn__content-title">Take Classes and Get Inspired</h1>
            <p class="learn__content-desc">Visit our classes for a deeper dive into all things
                <span>Greater</span>Photo</p>
            <button class="btn btn-more"><a href="#">Explore classes</a></button>
            <div class="learn__content-advantages">
                <div class="learn__content-advantages-advantage">
                    <h1 class="learn__content-advantages-advantage-value">1500+</h1>
                    <p class="learn__content-advantages-advantage-desc">curated classes</p>
                </div>
                <div class="learn__content-advantages-advantage">
                    <h1 class="learn__content-advantages-advantage-value">650+</h1>
                    <p class="learn__content-advantages-advantage-desc">expert instructors</p>
                </div>
                <div class="learn__content-advantages-advantage">
                    <h1 class="learn__content-advantages-advantage-value">7000+</h1>
                    <p class="learn__content-advantages-advantage-desc">students strong</p>
                </div>
            </div>
        </div>
    </div>
</section>