<section class="skills">
    <div class="container">
        <div class="section__heading">
            <span class="section__sup">top photo classes</span>
            <h1 class="section__title">Gain the new skills</h1>
            <button class="btn btn-section">
                <a href="#">
                    <svg class="arrow-icon">
                        <use xlink:href="#arrow"></use>
                    </svg>
                </a>
            </button>
        </div>
        <div class="skills__body">
            <div class="row">
                <div class="col-3">
                    <div class="skills__body-item">
                        <img class="skills__body-img" src="../assets/img/skill-1.png"/>
                        <div class="skills__body-item-text">
                            <h1 class="skills__body-item-class">Architecture</h1>
                            <p class="skills__body-item-name">- ivan baan -</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="skills__body-item">
                        <img class="skills__body-img" src="../assets/img/skill-2.png">
                        <div class="skills__body-item-text">
                            <h1 class="skills__body-item-class">Landscape</h1>
                            <p class="skills__body-item-name">- daniel kordan -</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="skills__body-item">
                        <img class="skills__body-img" src="../assets/img/skill-3.png">
                        <div class="skills__body-item-text">
                            <h1 class="skills__body-item-class">Astro Photo</h1>
                            <p class="skills__body-item-name">- arilad heitmann -</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="skills__body-item">
                        <img class="skills__body-img" src="../assets/img/skill-4.png">
                        <div class="skills__body-item-text">
                            <h1 class="skills__body-item-class">People</h1>
                            <p class="skills__body-item-name">- pavel uchorczak -</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
    </div>
</section>