<section class="students">
    <div class="container">
        <div class="section__heading">
            <span class="section__sup">what our students saying</span>
            <h1 class="section__title">Check their experiences</h1>
        </div>
        <div class="students__reviews">

            <div class="row">
                <div class="col-4">
                    <div class="students__reviews-review">
                        <div class="students__reviews-review-divider"></div>
                        <p class="students__reviews-review-text">Thank you for this wonderful Work shop’s in Tuscany and Cinque Terre!
                            My
                            enthusiasm about your good organisations, finest tipp’s and help me every times.</p>
                        <a href="#" class="students__reviews-review-name link">Gabriele Schulrmann</a>
                        <p class="students__reviews-review-country">- germany -</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="students__reviews-review">
                        <div class="students__reviews-review-divider"></div>
                        <p class="students__reviews-review-text">My dear coach, Thank you so much, we are so lucky to have such wonderful Scotland & Ireland trips with you, we love those amazing sunrise.</p>
                        <a href="#" class="students__reviews-review-name link">Angela Chong</a>
                        <p class="students__reviews-review-country">- united kingdom -</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="students__reviews-review">
                        <div class="students__reviews-review-divider"></div>
                        <p class="students__reviews-review-text">Thank you so much for putting together such a beautiful trip. I know it must take hours to plan and put together and you guys did a fantastic job.</p>
                        <a href="#" class="students__reviews-review-name link">Jane Levine</a>
                        <p class="students__reviews-review-country">- slovakia -</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>