<section class="top">
    <div class="container">
        <div class="section__heading">
            <span class="section__sup">top photographers</span>
            <h1 class="section__title">Our editor choices</h1>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="top__item">
                    <div class="row">
                        <div class="col-12">
                            <div class="top__item-image">
                                <img src="../assets/img/top-1.png" alt="" class="top__item-image-bg">
                                <div class="top__item-image-person">
                                    <img src="../assets/img/top-person-1.png" alt=""
                                         class="top__item-image-person-photo">
                                    <h1 class="top__item-image-person-name">Serge Ramelli</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="top__item-desc">
                                <div class="row justify-content-center">
                                    <div class="col-auto">
                                        <span class="top__item-tag">Landscapes</span>
                                        <span class="top__item-tag">Architecture</span>
                                        <span class="top__item-tag">Nature</span>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-9">
                                        <p class="top__item-info">Serge Ramelli is a travel and landscape photographer
                                            and<br>a creator of poplular YouTube videos.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="top__item">
                    <div class="row">
                        <div class="col-12">
                            <div class="top__item-image">
                                <img src="../assets/img/top-2.png" alt="" class="top__item-image-bg">
                                <div class="top__item-image-person">
                                    <img src="../assets/img/top-person-2.png" alt=""
                                         class="top__item-image-person-photo">
                                    <h1 class="top__item-image-person-name">Elia Locardi</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="top__item-desc">
                                <div class="row justify-content-center">
                                    <div class="col-auto">
                                        <span class="top__item-tag">Landscapes</span>
                                        <span class="top__item-tag">Architecture</span>
                                        <span class="top__item-tag">Nature</span>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-9">
                                        <p class="top__item-info">Elia Locardi is an American photography professional
                                            specialized<br>
                                            in travel photography, landscape photography.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
        </div>
</section>