<section class="workshops">
    <div class="container">
        <div class="section__heading">
            <span class="section__sup">latest workshops</span>
            <h1 class="section__title">Get more with practise</h1>
            <button class="btn btn-section">
                <a href="#">
                    <svg class="arrow-icon">
                        <use xlink:href="#arrow"></use>
                    </svg>
                </a>
            </button>
        </div>
        <div class="workshops__items">
            <div class="row">
                <div class="col-3">
                    <div class="workshops__items-item">
                        <img class="workshops__items-item-img" src="../assets/img/workshops-1.png">
                        <div class="workshops__items-item-text">
                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <span class="workshops__items-item-days">2 days</span>
                                    <h1 class="workshops__items-item-title"><a href="#" class="link">Fashion
                                        Photography:<br>The Complete Guide</a></h1>
                                    <p class="workshops__items-item-name"><a href="#" class="link">- guenter stoehr
                                        -</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="workshops__items-item">
                        <img class="workshops__items-item-img" src="../assets/img/workshops-2.png">
                        <div class="workshops__items-item-text">
                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <span class="workshops__items-item-days">4 days</span>
                                    <h1 class="workshops__items-item-title"><a href="#" class="link">USA deserts<br>Tour
                                        in July</a></h1>
                                    <p class="workshops__items-item-name"><a href="#" class="link">- deniel kordan -</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="workshops__items-item">
                        <img class="workshops__items-item-img" src="../assets/img/workshops-3.png">
                        <div class="workshops__items-item-text">
                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <span class="workshops__items-item-days">4 days</span>
                                    <h1 class="workshops__items-item-title"><a href="#" class="link">Beautiful
                                        Tuscany<br>Tour in May</a></h1>
                                    <p class="workshops__items-item-name"><a href="#" class="link">- thomas heaton -</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="workshops__items-item">
                        <img class="workshops__items-item-img" src="../assets/img/workshops-4.png">
                        <div class="workshops__items-item-text">
                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <span class="workshops__items-item-days">10 days</span>
                                    <h1 class="workshops__items-item-title"><a href="#" class="link">Black and white<br>Architecture
                                        in March</a></h1>
                                    <p class="workshops__items-item-name"><a href="#" class="link">- elia locardi -</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
    </div>
</section>