@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
  url('../fonts/OpenSans-Regular.woff') format('woff'),
  url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
  url('../fonts/OpenSans-SemiBold.woff') format('woff'),
  url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
  url('../fonts/OpenSans-Bold.woff') format('woff'),
  url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/Bebas-Neue-Regular.woff2') format('woff2'),
  url('../fonts/Bebas-Neue-Regular.woff') format('woff'),
  url('../fonts/Bebas-Neue-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Bebas Neue Book';
  src: url('../fonts/Bebas-Neue-Book.woff2') format('woff2'),
  url('../fonts/Bebas-Neue-Book.woff') format('woff'),
  url('../fonts/Bebas-Neue-Book.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/Bebas-Neue-Bold.woff2') format('woff2'),
  url('../fonts/Bebas-Neue-Bold.woff') format('woff'),
  url('../fonts/Bebas-Neue-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Greta Display Pro';
  src: url('../fonts/GretaDisplayPro-Regular.woff2') format('woff2'),
  url('../fonts/GretaDisplayPro-Regular.woff') format('woff'),
  url('../fonts/GretaDisplayPro-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Greta Display Pro';
  src: url('../fonts/GretaDisplayPro-Medium.woff2') format('woff2'),
  url('../fonts/GretaDisplayPro-Medium.woff') format('woff'),
  url('../fonts/GretaDisplayPro-Medium.ttf') format('truetype');
  font-weight: 500;
}

