/* ===== Bootstrap ===== */
@import '../../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import "../../../node_modules/bootstrap/scss/bootstrap-utilities.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

/* ===== Slick ===== */
@import '../../../node_modules/slick-carousel/slick/slick.scss';
@import '../../../node_modules/slick-carousel/slick/slick-theme.scss';

/* ===== Template vars ===== */
@import "vars";

/* ===== Fonts ===== */
@import "fonts";

/* ===== SCSS Sections ===== */
@import "blocks/hero";
@import "blocks/skills";
@import "blocks/top";
@import "blocks/workshops";
@import "blocks/students";
@import "blocks/learn";
@import "blocks/footer";

/* ===== SCSS Blocks ===== */
@import "./blocks/header.scss";
@import "./blocks/buttons.scss";


[hidden] {
  display: none;
}

:root {
  font-size: 16px;
}

html {

}

body {
  font-family: $open-sans;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  position: relative;
  height: 100%;
  background-color: $body;
}

h1, p {
  margin: 0;
}

.section__heading {
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.section__sup {
  font-family: $bebas-neue-book;
  font-weight: normal;
  color: $white;
  font-size: 18px;
  letter-spacing: .26em;
  text-transform: uppercase;
  top: 0;
  line-height: 1;
  opacity: .7;
}

.section__title {
  font-family: $greta-display;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.02em;
  color: $white;
  margin-top: 15px;
}

.arrow-icon {
  height: 15px;
  width: 15px;
  fill: $white;
  padding-left: 2px;
}

.divider {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #434343;
  display: block;
  margin-top: 60px;
}

.link {
  text-decoration: none;
  color: white;
  transition: all .1s linear;

  &:visited {
    color: white;
  }

  &:hover {
    color: $orange;
  }


}
