/* ===== Template colors ===== */
$white: #FFFFFF;
$gray: #323232;
$orange: #f6b130;
$body: #222222;
$open-sans: 'Open Sans', sans-serif;
$bebas-neue: 'Bebas Neue', sans-serif;
$bebas-neue-book: 'Bebas Neue Book', sans-serif;
$greta-display: 'Greta Display Pro', sans-serif;